<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2><strong><i class="fas fa-info-circle"></i> About me<strong></h2>
        <div class="about-text lead">
            <p>
              In the last 10 years I've worked in a variety of roles in development, operations and technical leadership. 
              <br/>
              In the early years I developed mainly in Java and JavaScript.
            </p>
            <p>
              In the last couple of years I came to do more operations, which coincided with the rise of containers and cloud-native.<br/> 
            </p>
            <p>
                I work for <a href="https://cloudogu.com/">cloudogu</a>, where I'm one of the lead developers of <a href="https://my.cloudogu.com/">my.cloudogu.com</a> and a senior trainer for Kubernetes and Docker.
            </p>
            <p>
                In general, I'm a strong believer in <a href="{{ site.projects_url }}">open source</a>,
                like to <a href="{{ site.publications_url }}">write</a> and would love do much more
                <a href="{{ site.talks_url }}">talks</a>.
            </p>
            <br/>
            <p><strong>Interests</strong></p>
            <ul>
                <li>Architecture</li>
                <li>Continuous Delivery (and most recently GitOps)</li>
                <li>Security/Infosec</li>
                <li>Quality Assurance</li>
                <li>Clean Code</li>
                <li>Observability</li>
                <li>Infrastructure As Code</li>
                <li>Docs As Code</li>
                <li>Coffee</li>
            </ul>
        </div>
    </div>
      </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
