<section id="consulting" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2><strong><i class="fas fa-calendar-day"></i> {% translate nav.consulting.self %}</strong></h2>
                <div class="about-text lead">
                    {% translate_file consulting.html %}
                </div>
            </div>
            <div class="text-center">
                <a href="https://meetfox.com/e/jschnatterer?l=spot-consulting" title="{%translate consulting.action%}" class="btn btn-dark btn-lg " target="_blank"><i class="fas fa-calendar-day"></i>
                    {%translate consulting.action %} <i class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>