<ul class="list-inline" >
    <li>
        <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter fa-fw fa-3x"></i></a>
    </li>
    <li>
        <a href="https://github.com/{{ site.github_username }}"><i class="fab fa-github fa-fw fa-3x"></i></a>
    </li>
    <li>
        <a href="https://stackoverflow.com/users/{{ site.stackoverflow_userid }}"><i class="fab fa-stack-overflow fa-fw fa-3x"></i></a>
    </li>
    <li>
        <a href="https://keybase.io/{{ site.keybase_id }}"><i class="fab fa-keybase fa-fw fa-3x"></i></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/{{ site.linkedin_personal_url }}"><i class="fab fa-linkedin fa-fw fa-3x"></i></a>
    </li>
    <li>
        <a href="https://www.xing.com/profile/{{ site.xing_profile }}"><i class="fab fa-xing fa-fw fa-3x"></i></a>
    </li>
</ul>