<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% translate global.description1 %}{% translate global.description2 %}{% translate global.description3 %}">
  <meta name="author" content="Johannes Schnatterer">

  <title>schnatterer.info</title>

  <link rel="icon" type="image/png" sizes="64x64" href="/img/favicon/favicon-64x64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
  <link rel="shortcut icon" type="image/png" sizes="64x64" href="/img/favicon/favicon-64x64.png">

  <meta name="twitter:image" content="/img/favicon/android-chrome-512x512.png" />

  <meta property="og:title" content="schnatterer.info" />
  <meta property="og:url" content="https://schnatterer.info/" />
  <meta property="og:description" content="Johannes Schnatterer - {% translate global.description1 %}{% translate global.description2 %}{% translate global.description3 %}" />
  <meta property="og:site_name" content="schnatterer.info" />
  <meta property="og:image" content="https://schnatterer.info/img/favicon/android-chrome-512x512.png" />
  
  <link rel="manifest" href="/site.webmanifest">
  
  <!-- Bootstrap Core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/css/stylish-portfolio.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/font-awesome/css/all.css" rel="stylesheet" type="text/css">

  <!-- This script is placed in the head intentionally. It might redirect depending on the browser language -->
  <script src="/javascript/language.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
