<div class="navbar">
    <nav id="nav">
        <ul class="nav-list">
            <li>
                <a href="/" title="Home page">
                    <i class="fas fa-home"></i><span class="hidden-xs"> Home</span>
                </a>
            </li>
            <li>
                <a href="{{ site.projects_url }}" title="Projects">
                    <i class="fab fa-osi"></i><span class="hidden-xs"> Projects</span>
                </a>
            </li>
            <li>
                <a href="{{ site.publications_url }}" title="Publications">
                    <i class="fa fa-book"></i><span class="hidden-xs"> Publications</span>
                </a>
            </li>
            <li>
                <a href="{{ site.talks_url }}" title="Talks">
                    <i class="fa fa-microphone"></i><span class="hidden-xs"> Talks</span>
                </a>
            </li>
            <li>
                <a href="{{ site.blog_url }}" title="Blog (external link)" target="_blank">
                    <i class="fas fa-edit"></i><span class="hidden-xs"> Blog</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
