<nav id="nav" class="navbar">
    <ul class="nav-list">
        <li>
            <a href="/" title="Home page">
                <span class="hidden-xs"><i class="fas fa-home"></i> Home</span>
                <span class="visible-xs"><i class="fas fa-home fa-2x"></i></span>
            </a>
        </li>
        <li>
            <a href="{{ site.projects_url }}" title="Projects">
                <span class="hidden-xs"><i class="fab fa-osi"></i> Projects</span>
                <span class="visible-xs"><i class="fab fa-osi fa-2x"></i></span>
            </a>
        </li>
        <li>
            <a href="{{ site.publications_url }}" title="Publications">
                <span class="hidden-xs"><i class="fa fa-book"></i> Publications</span>
                <span class="visible-xs"><i class="fa fa-book fa-2x"></i></span>
            </a>
        </li>
        <li>
            <a href="{{ site.talks_url }}" title="Talks">
                <span class="hidden-xs"><i class="fa fa-microphone "></i> Talks</span>
                <span class="visible-xs"><i class="fa fa-microphone fa-2x"></i></span>
            </a>
        </li>
        <li>
            <a href="{{ site.blog_url }}" title="Blog (external link)" target="_blank">
                <span class="hidden-xs"><i class="fas fa-edit"></i> Blog</span>
                <span class="visible-xs"><i class="fas fa-edit fa-2x"></i></span>
            </a>
        </li>
    </ul>
</nav>
