<section id="pinned" class="portfolio bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2><strong><i class="fas fa-thumbtack"></i> {% translate projects.pinned.title %}</strong></h2>
        <div>{% translate projects.pinned.subtext %}</div>
        <hr class="small">
        <div class="row">
          {% for project in site.data.pinned-projects %}
          <div class="col-md-6 container-fluid">
            <div class="portfolio-item container-fluid">
              <a href="https://github.com/{{ project.username }}/{{ project.repo }}">
                <img style="height: 100%" class="img-portfolio img-responsive" 
                     src="/img/{{ project.username }}_{{ project.repo }}.svg">
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
