<section id="projects" class="about">
    
    <div class="table-container">
        <table class="table center">
            <thead>
            <tr>
                <th scope="col" title="Name">
                    <i class="fab fa-github"></i> <span class="hidden-xs"> Name</span>
                </th>
                <th scope="col" title="Stars">
                    <i class="fas fa-star"></i><span class="hidden-xs"> Stars</span>
                </th>
                <th scope="col" title="Description">
                    <i class="fas fa-info-circle"></i><span class="hidden-xs"> Description</span>
                </th>
                <th scope="col" title="Technologies">
                    <i class="fas fa-cogs"></i> <span class="hidden-xs"> Technologies</span>
                </th>
                <th scope="col" title="Role">
                    <i class="fas fa-user-tag"></i> <span class="hidden-xs"> Role</span>
                </th>
                <th scope="col" title="Time active">
                    <i class="fas fa-clock"></i> <span class="hidden-xs"> Time active</span>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for project in site.data.projects %}
            <tr>
                <td class="row"><a href="https://github.com/{{ project.name }}">{{ project.name }}</a></td>
                <td class="row"><img src="https://img.shields.io/github/stars/{{ project.name }}.svg?style=flat&label=&logo=github&labelColor=000000"/></td>
                <td class="row">{{ project.description }}</td>
                <td class="row">{{ project.technologies }}</td>
                <td class="row">{{ project.contribution }}</td>
                <td class="row">
                    {% if project.time-active.from != null %}
                    {{ project.time-active.from }} - {% if project.time-active.to != null %}{{project.time-active.to}}{% else %}now{% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>