<section id="projects" class="about">
    <div class="container">
        <div class="universal-wrapper-table">
            <span class="col-xs-6"><strong>Updated: {{ site.data.projects.updated }}</strong></span>
            <div class="col-xs-12 table-container">
                <table class="table center">
                    <thead>
                    <tr>
                        <th scope="col" title="Name">
                            <i class="fab fa-github"></i> <span class="hidden-xs"> Name</span>
                        </th>
                        <th scope="col" title="Stars">
                            <i class="fas fa-star"></i><span class="hidden-xs"> Stars</span>
                        </th>
                        <th scope="col" title="Description">
                            <i class="fas fa-info-circle"></i><span class="hidden-xs"> Description</span>
                        </th>
                        <th scope="col" title="Technologies">
                            <i class="fas fa-cogs"></i> <span class="hidden-xs"> Technologies</span>
                        </th>
                        <th scope="col" title="Role">
                            <i class="fas fa-user-tag"></i> <span class="hidden-xs"> Role</span>
                        </th>
                        <th scope="col" title="First Commit">
                            <i class="fas fa-play"></i> <span class="hidden-xs"> Commit</span>
                        </th>
                        <th scope="col" title="Last Commit">
                            <i class="fas fa-stop"></i> <span class="hidden-xs"> Commit</span>
                        </th>
                        <th scope="col" title="Number of Commits">
                            <i class="fas fa-hashtag"></i> <span class="hidden-xs"> Commits</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in site.data.projects.projects %}
                    <tr>
                        <td class="col-md-1"><a href="https://github.com/{{ project.name }}">{{ project.name | replace: "/", "/&#8203;" }}</a></td>
                        <td class="col-md-1"><img src="https://img.shields.io/github/stars/{{ project.name }}.svg?style=flat&label=&logo=github&labelColor=000000"/></td>
                        <td class="col-md-3">{{ project.description }}</td>
                        <td class="col-md-3">{{ project.technologies }}
                            {% if  project.technologies-ci  %}
                                <br/><span style="text-decoration: underline">CI/CD:</span>
                                {% for ci in  project.technologies-ci %}
                                
                                    {% assign ci_style = "" %}
                                    {% assign ci_titleAppend = "" %}
                                    {% if ci.inactive == true %}
                                        {% assign ci_style = "text-decoration:line-through; color: grey" %}
                                        {% assign ci_titleAppend = " (inactive)" %}
                                    {% endif %}
                                    
                                    {% if ci.type == 'GitHub Actions' %}
                                    <a style="{{  ci_style }}" title="GitHub Actions{{ ci_titleAppend }}" href="https://github.com/{{ project.name }}/actions" class="icon-button"><i class="fab fa-github"></i></a>
                                    {% elsif  ci.type == 'Travis' %}
                                    <a style="{{  ci_style }}" title="TravisCI{{ ci_titleAppend }}" href="https://travis-ci.com/github/{{ project.name }}/" class="icon-button">Ⓣ</a>
                                    {% elsif  ci.type == 'Docker Autobuild' %}
                                    <a style="{{  ci_style }}" title="Docker Autobuild{{ ci_titleAppend }}" href="https://github.com/{{ project.name }}/{{ ci.path }}" class="icon-button"><i class="fab fa-docker"></i></a>
                                    {% elsif ci.type == 'Jenkins' %}
                                    <a style="{{  ci_style }}" title="Jenkins{{ ci_titleAppend }}" href="{{ ci.url }}" class="icon-button"><i class="fab fa-jenkins"></i></a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            
                            {% if  project.technologies-artifacts  %}
                                <br/><span style="text-decoration: underline">Artifacts:</span>
                                {% for artifact in project.technologies-artifacts %}
                                    {% assign artifact_url = artifact.url %}
                                
                                    {% if artifact.type == 'GHCR' %}
                                        {% if artifact_url == '' or artifact_url == null %}
                                            {% capture artifact_url %}https://ghcr.io/{{ project.name }}{% endcapture %}
                                        {% endif %}
                                        <a title="GitHub Container Registry" href="{{ artifact_url }}" class="icon-button"><i class="fab fa-github"></i></a>
                                    {% elsif artifact.type == 'DockerHub' %}
                                        {% if artifact.id %}
                                            {% capture artifact_url %}https://hub.docker.com/r/{{ artifact.id }}{% endcapture %}
                                        {% elsif artifact_url == '' or artifact_url == null %}
                                            {% capture artifact_url %}https://hub.docker.com/r/{{ project.name }}{% endcapture %}
                                        {% endif %}
                                        <a title="DockerHub" href="{{ artifact_url }}" class="icon-button"><i class="fab fa-docker"></i></a>
                                    {% elsif artifact.type == 'Quay.io' %}
                                        {% if artifact_url == '' or artifact_url == null %}                                            {% capture artifact_url %}https://www.npmjs.com/package/{{ project.name }}{% endcapture %}
                                            {% capture artifact_url %}https://quay.io/repository/{{ project.name}}{% endcapture %}
                                        {% endif %}
                                        <a title="Quay.io" href="{{ artifact_url }}" class="icon-button"><i class="fab fa-redhat"></i></a>
                                    {% elsif artifact.type == 'npm' %}
                                        {% if artifact.id %}
                                            {% capture artifact_url %}https://www.npmjs.com/package/{{ artifact.id }}{% endcapture %}
                                        {% elsif artifact_url == '' or artifact_url == null %}                                            {% capture artifact_url %}https://www.npmjs.com/package/{{ project.name }}{% endcapture %}
                                            {% capture artifact_url %}https://www.npmjs.com/package/{{ project.name}}{% endcapture %}
                                        {% endif %}
                                        <a title="npm" href="{{ artifact_url }}" class="icon-button"><i class="fab fa-npm"></i></a>
                                    {% elsif artifact.type == 'Maven Central' %}
                                        {% if artifact.artifactId and artifact.groupId %}
                                            {% capture artifact_url %}https://search.maven.org/artifact/{{ artifact.groupId }}/{{ artifact.artifactId }}{% endcapture %}
                                        {% elsif artifact.groupId %}
                                            {% capture artifact_url %}https://search.maven.org/search?q=g:{{ artifact.groupId }}{% endcapture %}
                                        {% endif %}
                                        <a title="Maven Central" href="{{ artifact_url }}" class="icon-button"><i class="fas fa-feather"></i></a>
                                    {% endif %}
                                    </span>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td class="col-md-1">{{ project.contribution }}</td>
                        <td class="col-md-1">{{ project.commits.from }}</td>
                        <td class="col-md-1">{{ project.commits.to }}</td>
                        <td class="col-md-1">{{ project.commits.amount }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
