<section id="publications" class="about">
    
    <div class="universal-wrapper">
        <div class="row">
            <div class="col-lg-12 text-center">
                {% for pubsPerYear in site.data.publications %}
                <div class="row">
                    <div class="col-lg-2">
                        <h3 class="year">{{ pubsPerYear.year }}</h3>
                    </div>
                    <div class="col-lg-10">
                        {% for pub in pubsPerYear.pubs %}
                        <div class="card-simple">
                            <div class="article-metadata">
                                <div title="Date"><i class="far fa-calendar-alt"></i> {{ pub.date }}</div>
                            </div>
                            <h3><span>{{ pub.title }}</span></h3>
                            <div class="article-metadata">
                                {% for medium in pub.media %}
                                <div>
                                    {% if  medium.link  %}
                                    <a title="{{ medium.type }}" target="_blank" href="{{ medium.link }}">
                                    {% endif %}
                                        <span>{% if medium.type == 'Journal' %}
                                        <i class="fas fa-newspaper"></i>
                                        {% elsif medium.type == 'Blog' %}
                                        <i class="fas fa-rss-square"></i>
                                        {% elsif medium.type == 'Book' %}
                                       <i class="fas fa-book"></i>
                                        {% endif %}
                                         {{ medium.medium }}
                                        </span>
                                    {% if  medium.link  %}
                                    </a>
                                    {% endif %}

                                    {% if  medium.links  %}
                                        {% for linkObject in medium.links %}
                                            {% if  linkObject.link  %}
                                            <a title="{{ medium.type }}" target="_blank" href="{{ linkObject.link }}">
                                                {% endif %}
                                                <span>{{ linkObject.name }}</span>
                                                {% if  linkObject.link  %}
                                            </a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if medium.lang == 'EN' %}
                                    <img class="emoji" title="English" alt="🇬🇧" src="img/en.svg">
                                    {% elsif medium.lang == 'DE' %}
                                    <img class="emoji" title="German" alt="🇩🇪" src="img/de.svg">
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            {% if pub.excerpt  %}<div>{{ pub.excerpt }}</div>{% endif %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <br/>&nbsp;
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
</section>