<header id="top" class="short-header">
  <div class="text-vertical-center">
  {% include nav.html %}
    <h1>{{ page.page-title }}</h1>
    <h3>{{ page.sub-text }}</h3>
    <br/>
    <br/>
    <a href="#pinned" class="btn btn-dark btn-lg"><i class="fas fa-thumbtack"></i> Pinned</a>
    <a href="#projects" class="btn btn-dark btn-lg"><i class="fas fa-list-ul"></i> All</a>
    <br/>
    <br/>
    <span>My FOSS work is supported by <a title="Jet Brains" href="https://www.jetbrains.com/?from=Nusic" target="_blank"><img src="img/jetbrains.png" alt="Jet Brains" width="50"></a></span>
    <br/>
    <br/>
  </div>
</header>
