<section id="talks" class="about">

    <div class="universal-wrapper">
        <div class="row">
            <div class="col-lg-12 text-center">
                {% for talksPerYear in site.data.talks %}
                <div class="row">
                    <div class="col-lg-2">
                        <h3 class="year">{{ talksPerYear.year }}</h3>
                    </div>
                    <div class="col-lg-10">
                        {% for talk in talksPerYear.talks %}
                        <div class="card-simple">
                            <div class="article-metadata">
                                <div title="Event"><strong>{{ talk.occasion }}</strong></div>
                                <div title="Date"><i class="far fa-calendar-alt"></i> {{ talk.date }}</div>
                                <div title="Location"><i class="fas fa-map-marker-alt"></i> {{ talk.location }}</span></div>
                            </div>
                            <h3><a href="{{ talk.link }}">{{ talk.title }}</a></h3>

                            <div class="article-metadata">
                                {% if talk.slides-speakerdeck != or talk.slides-pdf != null or talk.slides-github != null %}
                                <div title="Slides">Slides
                                    {% if talk.slides-speakerdeck != null %}
                                    <a title="Speakerdeck" href="{{ talk.slides-speakerdeck }}" class="icon-button"> <i class="fab fa-speaker-deck"></i></a>
                                    {% endif %}
                                    {% if talk.slides-pdf != null %}
                                    <a title="PDF" href="{{ talk.slides-pdf }}" class="icon-button"><i class="fas fa-file-pdf"></i></a>
                                    {% endif %}
                                    {% if talk.slides-github != null %}
                                    <a title="GitHub" href="{{ talk.slides-github }}" class="icon-button"><i class="fab fa-github"></i></a>
                                    {% endif %}
                                </div>
                                {% endif %}
                                
                                {% if talk.video != null %}
                                <div title="Video">Video
                                    {% if talk.video.private == true %}
                                    <i class="fas fa-user-shield" title="requires login"></i></a>
                                    {% endif %}
                                    {% if talk.video.link != null %}<a href="{{ talk.video.link }}" class="icon-button">{% endif %}<i class="fas fa-file-video"></i></a>
                                    {% if talk.video.lang == 'EN' %}
                                    <img class="emoji" title="English" alt="🇬🇧" src="img/en.svg">
                                    {% elsif talk.video.lang == 'DE' %}
                                    <img class="emoji" title="German" alt="🇩🇪" src="img/de.svg">
                                    {% endif %}
                                </div>
                                {% endif %}

                                {% if talk.demo-recording != null or talk.demo-github != null %}
                                <div title="Demo">Demo
                                    {% if talk.demo-recording != null %}
                                    <a title="Demo Recording" href="{{ talk.demo-recording}}" class="icon-button"><i class="fas fa-terminal"></i></a>
                                    {% endif %}
                                    {% if talk.demo-github != null %}
                                    <a title="GitHub" href="{{ talk.demo-github }}" class="icon-button"><i class="fab fa-github"></i></a>
                                    {% endif %}
                                </div>
                                {% endif %}
                                {% if talk.notes != null %}
                                <div title="Notes">
                                    <i class="far fa-sticky-note"></i> {{ talk.notes }}
                                </div>
                                {% endif %}
                                
                            </div>
                        </div>
                        <br/>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>